
*{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
a{
  text-decoration: none;
  color: #696969;
}
p{
  font-size: 18px;
}
a:hover, a:hover p{
  color: #818753;
}
.container{
  width: 1200px;
  margin: auto;
}
/* Menu */
.menu{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.menu ul li{
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
}
.menu img{
  margin: 0px 15px -20px;
}
.menu img:hover{
  opacity: 0;
}

#card-content {
  width: auto;
  padding: 10px 150px;
  display: flex;
  flex-direction: column;
}
/*card*/
.card {
  position: relative;
  display:inline-flex;
  justify-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  max-height: auto;
  text-align: center;
  margin: auto;
  padding-top:20px;
}

.card-body{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-size: 13px;
  align-items: flex-start;
}
.card-footer{
  width: 150px;
  align-items: baseline;
}

{box-sizing: border-box;}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.field-text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  line-height: 1;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}