.container{
  width: 1200px;
  margin: auto;
}
html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: arial;
}

/* Menu */
.menu{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom :10px;
}
.menu ul li{
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
}
.menu img{
  margin: 0px 15px -20px;
}
.menu img:hover{
  opacity: 0;
}

/*title*/
.title{
  margin: auto;
}
.title-header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
.title-header h3 {
  margin-top: auto
}

.card {
  position: relative;
  display:inline-flex;
  justify-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 800px;
  max-height: 500px;
  text-align: center;
  margin: 0 125px;
  padding-top:20px;
  background: #CFCFCF;
}


.card-body{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-size: 13px;
  align-items: flex-start;
}

.profile-pic  {
  padding: 5px 10px;
}
.profile-pic img  {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}
.field-text , .field-name {
  text-decoration: none;
  color: black;
  font-weight: bold;
  line-height: 1;
}
.field-name:hover {
  font-style: italic;
}

.button {
  display: block;
  width: 150px;
  height: 25px;
  background: #4E9CAF;
  padding: 15px 0 25px 0;
  color: white;
  font-weight: bold;
}


.button-fact {
  background-color: white;
  color: black;
}

.button:hover {
  background-color: white;
  color: black;
  border: 1px solid #85e1e3;
}

{box-sizing: border-box;}

.mySlides {display: none;}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 250px;
  position: relative;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.padding-top-25 {
  padding-top: 25px;
}